<div>
  <div class="modal-header">
    <h3>Começar a usar</h3>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
    <div class="span4">
      <img src="/public/dropbox.png"/>
    </div>
    <div class="span8" style="padding-top:40px">
      <p>Ao clicar em <b>prosseguir</b> você será redirecionado para o site do Dropbox para integrar
        o aplicativo Marklive a sua conta do DropBox.</p>
    </div>
    </div>
    <div class="row-fluid" style="padding-top:20px">
      <p><i>Não se preocupe, o Marklive não armazenas seus dados, ele apenas usar suas credenciais para autenticação
	  e perimite que você salve seus documentos em sua conta do Dropbox.</i></p>
    </div>
  </div>
  <div class="modal-footer">
    <a ng-click="close()" class="btn">Fechar</a>
    <a ng-click="accept()" class="btn btn-primary">Prosseguir</a>
  </div>
</div>
